<div class="card post">
    <div class="card-body text-left">
        {{#link-to "post.view" post tagName="h4" class="card-title"}}
            {{post.title}}
        {{/link-to}}
        <p class="card-text">{{post.content}}</p>
        <footer class="blockqoute-footer">
            <small class="text-muted">
                {{post.creator}} - {{post.date}}
            </small>
            {{!-- Todo batches for up- and downvotes --}}
        </footer>
    </div>
</div>