<div class="card post">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-left">
                    <h4>{{post.title}}</h4>
                </div>
                <div class="col-1 text-right">
                    {{#link-to "post" post tagName="button" type="button" class="btn btn-outline-secondary btn-sm"}}
                        Show
                    {{/link-to}}            
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-left">
        <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-footer text-muted">
        {{post.creator}} - {{post.date}}
    </div>
</div>