<div class="card border-light mb-2">
    <div class="card-body text-left">
        {{#link-to "post.view" post tagName="h4" class="card-title"}}
            {{post.title}}
        {{/link-to}}
        <p class="card-text">
            {{simple-mde-preview post.content}}
        </p>
        <footer class="blockqoute-footer">
            <small class="text-muted">
                {{post.creator}} - {{post.date}}
            </small>
            {{!-- Todo batches for up- and downvotes --}}
        </footer>
    </div>
</div>
<div class="d-flex flex-column">
    {{#if isDetail}}
        {{#each post.comments as |comment|}}
            <div class="d-flex">
                <span>text</span>
            </div>
        {{/each}}
        <div class="d-flex flex-column">
            <h7 class="p-2">Sascha Wittwer</h7>
            <span class="small p-2">text asdfjoasdfn asldjfnas dfojlnasdkfj aksjdf kja sdfik asdkjf askjdf kjas dfkja sdkjf ajsdfjk asdlf 
                asdkfj oasjd fkjas dkfj askdf kajs dfkj asdfj asdfasdf asdf asdf
            </span> 
        </div>
         <div class="d-flex flex-column">
            <h7 class="p-2">Yves Beutler</h7>
            <span class="small p-2">text asdfjoasdfn asldjfnas dfojlnasdkfj aksjdf kja sdfik asdkjf askjdf kjas dfkja sdkjf ajsdfjk asdlf 
                    asdkfj oasjd fkjas dkfj askdf kajs dfkj asdfj asdfasdf asdf asdf
            </span>
        </div>
    {{/if}}
</div>