<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between">
  <span class="navbar-text small">
    {{t "footerText"}}
  </span>
  <form class="form-inline my-2 my-lg-0" {{action "login" on="submit"}}>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">{{t "login"}}</button>
  </form>
</nav>