<form {{action "save" model on="submit"}} class="newPost text-left">
    <div class="form-group">
        <label for="postTitle">Title</label>
        {{input value=title type="text" class="form-control" id="postTitle"}}
    </div>
    <div class="form-group">
        <label for="postContent">Content</label>
        {{textarea value=content class="form-control" id="postContent" rows="12"}}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>