@import "ember-cli-bootstrap-4/bootstrap";

.content {
    margin-top: 4rem;
}

.post {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.newPost {
    margin-left: 4rem;
    margin-right: 4rem;
}

.blogTitle {
    cursor: pointer;
}

.blogContent img {
    @extend .img-fluid;
}

@include media-breakpoint-down(md) {
    .commentGroup {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .commentGroup {
        width: 50%;
    }
}
@import "ember-cli-bootstrap-4/bootstrap";
