@import "ember-cli-bootstrap-4/bootstrap";

.content {
    margin-top: 4rem;
}

.post {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.newPost {
    margin-left: 4rem;
    margin-right: 4rem;
}

.blogTitle {
    cursor: pointer;
}

.blogContent img {
    max-width: 100%;
    height: auto;
}