<div class="center-block login">
    <form {{action "doLogin" on="submit"}}>
        <h2>Login</h2>
        <div class="form-group">
            {{input value=user class="form-control" placeholder="Username"}}
            {{input value=password class="form-control" placeholder="Password" type="password" }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>